<div>
    <div style="display: flex;">
            <button class="btn btn-secondary" style="width:150px"
            (click)="login()">
            Login
            </button>
        
            <div style="width: 10px;"></div>
            
            <button class="btn btn-success" style="width:150px"
            (click)="openEmployeePopup()">
            Save Data
            </button>
            
            <div style="width: 10px;"></div>
            
            <button class="btn btn-primary" style="width:150px"
            (click)="fetchData()">
            Fetch Data
            </button>
            
            <div style="width: 10px;"></div>
            
            <button class="btn btn-link" style="width:150px"
            (click)="logout()">
            Logout
            </button>

        <div>{{this.loggedInUser}}</div>
        </div>

        <div>
            <p *ngIf="isEmployeeListEmpty">The employee list is empty.</p>
            <ul class="employee-list">
                <li *ngFor="let employee of employeeList">
                        <div class="card" style="width:250px;">
                            <img class="card-img-top" src="../assets/img_avatar1.png" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{employee.firstName + " " + employee.lastName}}</h4>
                                <p class="card-text">{{employee.email}}</p>
                            </div>
                        </div>
                </li>
            </ul>
        </div>
        
        
        <app-employee-popup *ngIf="showPopup" (onUpdate)="updateState($event)"></app-employee-popup>
</div>